@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --TestColorData: #f28266;

    --colorBaseFont: #f2fdff;
    --colorContact: #fea900c9;
    --colorMainTitle: #b7e2ff;
    --colorHover: #ff9b05;
    --colorBackgroundBody: #1a1a25;

    /* Color Card*/
    --colorBackgroundGameCard: #15121b;
    --bgColorTitleInfo : #15121b;
    --bgColorCardInfo : #1b1722d8;

    /* Color Header */
    --headerBoxShadow: 0px 0px 4px #120b24a5;
    --colorNavBar: #0e0d13c2;
    --navBarBlur: 15px;
}
html
{
    scroll-behavior: smooth;
}
a
{    
    text-decoration: none;
    color: var(--colorContact);
}
a:visited 
{
    color: var(--colorContact);
}
body
{
    color : var(--colorBaseFont);
    background-color: var(--colorBackgroundBody);
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: auto;
    padding: 0;
    line-height: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(250px, 100%, 5000px);
}
video
{
    width: 100%;
    border-radius: 3px;
}
*{    
    box-sizing: border-box;
}
:hover.Clickable{
    cursor: pointer;
    color: var(--colorHover);    
}
#contact
{
    padding: 2em;
    line-height: 1.5;
}

#bubbleInfo
{
    position: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: #003a09;
    color: #ebffef;
    border-radius: 25px;
    font-size: .75em;
    padding: 0 2em;
    bottom: 5em; /* Distance du bas */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); 
}
/* ------------------- Head Section - Title And Contact --------------------------*/
header
{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: var(--headerBoxShadow);
    background: var(--colorNavBar); /* Transparence */
    backdrop-filter: blur(var(--navBarBlur)); /* Effet de flou */
    top: 0;
    position: sticky;
    padding: .5rem;
    z-index: 100;
}
.NavBar
{
    width: clamp(250px, 80%, 2000px);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    color: var(--colorMainTitle);
}
#navBarTitle
{
    font-size: clamp(.5rem, 3vw, 1rem);
}
#navBarTitle h1 
{
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
}
#navBarTitle small
{
    font-size: clamp(.5rem, 3vw, 1rem);
    font-weight: 400;
}
.HorizontalList
{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.HorizontalList a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.Link
{
    cursor: pointer;
}
.ExtLink
{
    color: var(--colorContact);
    width: clamp(1rem, 5vw, 2rem);
}

.NavMenu a{
    color: var(--colorBaseFont);
}
/*------------------------------ Content ---------------------------------------------*/
#content{
    justify-items: center;
    margin: auto;
    width: clamp(250px, 80%, 2000px);
    transition: opacity 1s;
}

.MainContent
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* -------------------Presentation & Picture Profile --------------------------*/
#presentation
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em auto;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
/* ----------------------------- Project experiences ---------------------------------*/
.CardArray
{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, clamp(200px, 800px, 50%));
    flex-wrap: wrap;
}
.GameCard
{
    display: flex;
    margin: .5rem;
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background: var(--colorBackgroundGameCard);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--bgColorTitleInfo);
}

.CardInfo
{
    align-self: center;
    font-size: clamp(15px, 1vw, 25px);
    height: 100%;
    position: absolute;
    top: 0; 
    transition: top .2s ease-in-out;
    width: 100%;
    background: var(--bgColorCardInfo);
}
/* Affichage de la bande au survol */
.GameCard:hover .CardInfo {
    top: -60%;
}
.ProjectTitleContainer
{
    padding: 0 clamp(.5rem, 1vw, 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 2.5em;
    background: var(--bgColorTitleInfo); /* Transparence */
}
.ProjectTitleContainer .ImportantText
{
    margin: 0;
    font-size: clamp(.8rem, 2vw, 1.5rem);
}
/*-----------------------Titre et description du jeu----------------------*/
.DescriptionContainer
{
    padding: 0 1vw;
    font-size: clamp(.7rem, 1vw, 1rem);
    border-style: solid;
    border-width: 0 0 10px 0;
    border-color: var(--bgColorTitleInfo);
    backdrop-filter: blur(10px);
}
/*------------------Icone Descriptive -------------------------*/
.IconsContainer
{
    display: flex; 
    gap: clamp(1em, 2vw, 1.5em);
    line-height: 1;
}
.IconContainer
{
    display: flex;
    align-items: center;
    gap: clamp(.6em, 1vw, .5em);
}
.Icon
{
    width: 1em;
    overflow: visible;
}

/*--------------------Footer------------------------------*/
.VerticalList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    gap: .75rem;
    padding: 2rem;

}

.VerticalList h4
{
    font-size: x-large;
    margin: 0;
}
.mail
{
    font-size: 1rem;
    margin: 0;
    color: var(--colorContact);
}
.Scrollable {
    overflow-y: auto;
    box-sizing: border-box;
    height: 60%;
}

.Scrollable::-webkit-scrollbar {
    width: 2px;
}

.Scrollable::-webkit-scrollbar-track {
    display: none;
}

.Scrollable::-webkit-scrollbar-thumb { 
    background-color: #4545459c;
}

/*---------------------- Project Container -----------------------*/
.GlobalContainer{
    width: 100%;
}

.ProjectContainer{
    margin: auto;
}

.BackButton{
    display: flex;
    font-size: clamp(15px, 1vw, 25px);
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 0 1.5em;
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 15;
}

/*---------------------- Card Info ---------------------------*/
.VideoContainer
{
    display: flex;
    position: relative;
}
.VideoContainer video{
    
    border-radius: 10px;
}
.TitleBand{
    background-color: #151320d9;
    backdrop-filter: blur(20px); /* Effet de flou */
    position: absolute;
    padding: clamp(.5rem, 1vw, 1rem);
    text-transform: uppercase;
    margin: auto;
    height: fit-content;
    width: 100%;
    bottom: 0;
    font-size: clamp(.8rem, 2vw, 1.5rem);
    border-radius: 0 0 10px 10px;
}

.TitleBand h2{
    margin: auto;
}
.GameInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
}

.Section{
    flex: 1 1 300px;
    background-color: #151320d9;
    padding: 1em;
    border-radius: 5px;
}
.SubjectContent {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.Pictures{
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0;
    justify-content: space-between;
    background-color: #1a90e465;
}
.Pictures *{
    flex: 1 1 150px;
    width: 50%;
}


/*---------------------- Animation --------------------------*/
.DisplayAnimationPage
{
    animation: fadeIn .5s forwards;
}

.HiddenAnimationPage
{
    animation: fadeOut .5s forwards;
}

.FadeInOutAnimation
{
    animation: fadeInOut .5s forwards;
}
.FadeInAnimation{
    animation: fadeIn .5s forwards;
}
.FadeOutAnimation{
    animation: fadeOut .5s forwards;
}

@keyframes fadeInOut {
    0%{
        opacity: 1;
    } 25% {
        opacity: 0;
    } 75% {
        opacity: 0;
    } 100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    25%
    {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
/* --------------------- Responsive Phone ------------------------*/

@media screen and (max-width : 768px)
{
    .CardArray
    {
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 100%);
        flex-wrap: wrap;
    }
    .NavBar, #navBarTitle h1
    {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navBarTitle h1 
    {              
        margin: 1rem 0 1rem 0;
    }
    #navBarTitle small
    {
        flex-wrap: wrap;
        text-align: center;
    }
    .NavMenu
    {
        margin: 1rem;
    }
}