@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root
{
    --TestColorData: #bb843d;

    --colorBaseFont: #f2fdff;
    --colorContact: #ff9900;
    --colorMainTitle: #b7e2ff;
    --colorHover: #ff8000;
    --colorBackgroundBody: #1a1a25;

    /* Color Card*/
    --colorBackgroundGameCard: #15121b;
    --bgColorCardInfo : #1b1722d8;
    --bubbleInfoColor: var(--colorBackgroundGameCard);

    /* Color Header */
    --headerBoxShadow: 0px 0px 4px #120b24a5;
    --colorNavBar: #0e0d13c2;
    --navBarBlur: 15px;
}
html
{
    scroll-behavior: smooth;
}
a
{    
    text-decoration: none;
    color: var(--colorContact);
}
a:visited 
{
    color: var(--colorContact);
}
body
{
    color : var(--colorBaseFont);
    background-color: var(--colorBackgroundBody);
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(250px, 100%, 5000px);
}
video
{
    width: 100%;
    border-radius: 3px;
}
*{    
    box-sizing: border-box;
}
:hover.Clickable{
    cursor: pointer;
    color: var(--colorHover);    
}
#bubbleInfo
{
    position: fixed;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    background: #003a09;
    color: #ebffef;
    border-radius: 25px;
    font-size: .75em;
    padding: 0 2em;
    bottom: 5em; /* Distance du bas */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); 
}

.BubbleInfo
{    
    height: fit-content; 
    background-color:var(--bubbleInfoColor);
    color: var(--colorHover);
    border-radius: clamp(.2em, 1vw, .5em);
    transition: scale 0.1s, background-color 0.3s ease, color 0.3s ease;   
}
.BubbleInfo p 
{
    margin: 0;
    padding: clamp(.2em, 1vw, .5em);
    font-size: clamp(8px, 1vw, 15px);
}
.BubbleInfo:hover
{
    background-color: var(--colorHover);
    color: var(--bubbleInfoColor);
    scale: 105%;
}
/* ------------------- Head Section - Title And Contact --------------------------*/
header
{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: var(--headerBoxShadow);
    background: var(--colorNavBar); /* Transparence */
    backdrop-filter: blur(var(--navBarBlur)); /* Effet de flou */
    top: 0;
    position: sticky;
    padding: .5rem;
    z-index: 100;
}
.NavBar
{
    width: clamp(250px, 80%, 2000px);
    align-items: center;
    display: flex;
    line-height: 1;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    color: var(--colorMainTitle);
}
#navBarTitle
{
    font-size: clamp(.8rem, 3vw, 1rem);
}
#navBarTitle h1 
{
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
}
#navBarTitle small
{
    font-size: clamp(.8rem, 3vw, 1rem);
    font-weight: 400;
}
.HorizontalList
{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: clamp(.5rem, 3vw, 1.25rem);
}
.HorizontalList a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.Link
{
    cursor: pointer;
}
.ExtLink
{
    color: var(--colorContact);
    width: clamp(1rem, 5vw, 2rem);
}

.NavMenu a{
    color: var(--colorBaseFont);
    font-size: clamp(.7rem, 3vw, 1.2rem);
}
/*------------------------------ Content ---------------------------------------------*/
#content{
    justify-items: center;
    margin: auto;
    width: clamp(250px, 80%, 2000px);
    transition: opacity 1s;
}

.MainContent
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* -------------------Presentation & Picture Profile --------------------------*/
#presentation
{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em auto;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
/* ----------------------------- Project experiences ---------------------------------*/
.CardArray
{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, clamp(200px, 800px, 50%));
    flex-wrap: wrap;
}
.GameCard
{
    display: flex;
    margin: .5rem;
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    background: var(--colorBackgroundGameCard);
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: var(--colorBackgroundGameCard);
}

.CardInfo
{
    align-self: center;
    font-size: clamp(15px, 1vw, 25px);
    height: 100%;
    position: absolute;
    top: 0; 
    transition: top .2s ease-in-out;
    width: 100%;
    background: var(--bgColorCardInfo);
}
/* Affichage de la bande au survol */
.GameCard:hover .CardInfo {
    top: -60%;
}
.ProjectTitleContainer
{
    padding: 0 clamp(.5rem, 1vw, 1rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 2.5em;
    background: var(--colorBackgroundGameCard); /* Transparence */
}
.ProjectTitleContainer .ImportantText
{
    margin: 0;
    font-size: clamp(.8rem, 2vw, 1.5rem);
}
/*-----------------------Titre et description du jeu----------------------*/
.DescriptionContainer
{
    padding: 0 1vw;
    font-size: clamp(.7rem, 1vw, 1rem);
    border-style: solid;
    border-width: 0 0 10px 0;
    border-color: var(--colorBackgroundGameCard);
    backdrop-filter: blur(10px);
}
/*------------------Icone Descriptive -------------------------*/
.IconsContainer
{
    display: flex; 
    gap: clamp(1em, 2vw, 1.5em);
    line-height: 1;
}
.IconContainer
{
    display: flex;
    align-items: center;
    gap: clamp(.6em, 1vw, .5em);
}
.Icon
{
    width: 1em;
    overflow: visible;
}

/*--------------------Footer------------------------------*/
.VerticalList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    padding: 2rem;

}

.VerticalList h4
{
    font-size: x-large;
    margin: 0;
}
.mail
{
    font-size: 1rem;
    margin: 0;
    color: var(--colorContact);
}
.Scrollable {
    overflow-y: auto;
    box-sizing: border-box;
    height: 60%;
}

.Scrollable::-webkit-scrollbar {
    width: 2px;
}

.Scrollable::-webkit-scrollbar-track {
    display: none;
}

.Scrollable::-webkit-scrollbar-thumb { 
    background-color: #4545459c;
}

/*---------------------- Project Container -----------------------*/
.GlobalContainer{
    width: 100%;
}

.ProjectContainer{
    margin: auto;
}

.BackButton{
    background-color: #27221d;
    border-radius: 2em;
    bottom: 2%;
    color: var(--colorHover);
    display: flex;
    font-size: clamp(.7em, 2vw, 1em);
    height: fit-content;
    justify-content: center;
    padding: 0 1em;
    position: fixed;
    right: 5%;
    transition: scale 0.2s, background-color .2s ease-in-out, color .2s ease-in-out;
    width: fit-content;
    z-index: 15;
}
.BackButton:hover
{  
    background-color: var(--colorHover);
    color: #27221d;
    scale: 110%;
}
.BackButton > *
{
    margin: .7em;
}
/*---------------------- Card Info ---------------------------*/
.VideoContainer
{
    display: flex;
    position: relative;
}
.VideoContainer video{
    
    border-radius: 10px;
}
.TitleBand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorBackgroundGameCard);
    backdrop-filter: blur(20px); /* Effet de flou */
    position: absolute;
    padding: clamp(.5rem, 1vw, 1rem);
    text-transform: uppercase;
    margin: 0;
    height: fit-content;
    width: 100%;
    bottom: 0;
    font-size: clamp(.8rem, 2vw, 1.5rem);
    border-radius: 0 0 10px 10px;
}
.TitleBand h2
{
    margin: 0;
}
.TitleBand .BubbleInfo p 
{
    font-size: clamp(.8rem, 2vw, 1.5rem);
}
.GameInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1%;
}

.Section{
    flex: 1 1 300px;
    background-color: var(--colorBackgroundGameCard);
    padding: 1rem;
    border-radius: 5px;
}
.SubjectContent {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.Pictures{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: space-between;
    background-color: var(--colorBackgroundGameCard);
}
.Pictures *{
    flex: 1 1 150px;
    width: 50%;
}

/*--------------CONTACT-----------------*/
#contacts
{
    padding: 2rem;
    line-height: 1.25;
}
#contacts .HorizontalList
{
    
    gap: clamp(.25rem, 1vw, .75rem) !important;
}
/*---------------------- Animation --------------------------*/
.UnderLine
{
    text-decoration: none;
    position: relative;
}
.UnderLine::after
{
    content: ''; /* Créer un pseudo-élément vide */
    position: absolute;
    top: 25px;
    left: 0;
    width: 0;
    height: 2px; /* Épaisseur de la ligne */
    background-color: var(--colorHover); /* Couleur de la ligne */
    transition: width 0.3s ease; /* Animation du soulignement */
}
.UnderLine:hover::after {
  width: 100%; /* La ligne s'étend à 100% sous le mot lors du survol */
}
.DisplayAnimationPage
{
    animation: fadeIn .5s forwards;
}

.HiddenAnimationPage
{
    animation: fadeOut .5s forwards;
}

.FadeInOutAnimation
{
    animation: fadeInOut .5s forwards;
}
.FadeInAnimation{
    animation: fadeIn .5s forwards;
}
.FadeOutAnimation{
    animation: fadeOut .5s forwards;
}

@keyframes fadeInOut {
    0%{
        opacity: 1;
    } 25% {
        opacity: 0;
    } 75% {
        opacity: 0;
    } 100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    25%
    {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
/* --------------------- Responsive Phone ------------------------*/

@media screen and (max-width : 768px)
{
    .CardArray
    {
        position: relative;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 100%);
        flex-wrap: wrap;
    }
    .NavBar, #navBarTitle h1
    {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #navBarTitle small
    {
        flex-wrap: no-wrap;
        text-align: center;
        line-height: 1.5;
    }
    .NavMenu
    {
        margin: 0 0 1rem 0;
    }
}