:root
{
    --colorBaseFont: #f7f7f7;
    --colorContact: #45d4df;
    --colorMainTitle: #ffd560;
    --pageBackgroundColor: #1b1b1b;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa 
{
    overflow: visible;
    box-sizing: content-box;
}
svg:not(:root) 
{
    overflow-clip-margin: content-box;
}
a:visited 
{
    color: var(--colorContact);
}
a:link
{
    color: var(--colorContact);
}
*
{
    box-sizing: border-box;
}
body
{
    background-color: #dad3d3;
    margin: auto;
    min-width: none;
}
.content-wrapper
{
    align-items: center;
    background-color: var(--pageBackgroundColor);
    color : var(--colorBaseFont);
    display: block;
    font-family:  Montserrat, sans-serif;
    margin: auto;
    max-width: 1100px;
    padding: 0 10%;
}


/* ------------------- Head Section - Title And Contact --------------------------*/

.header
{
    background-color: #535353;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 16px 0 16px;
    margin: -32px -16px 16px -16px;
    position: sticky;
    top: 0;
    z-index: 5;
}
.main-title
{
    background-color: #7c01b9;
    font-size: 1.3rem;
    margin-bottom: 1em;
}
.main-title h1 
{
    margin: 0 0 0 0;
    color: var(--colorMainTitle);
    display: flex;
    flex-direction: column;
}
.main-title a
{
    text-decoration: none;
    color: var(--colorMainTitle);
}
.main-title small
{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 4px;
}
.contact-header
{
    background-color: aquamarine;
    display: flex;
}
.link
{
    color: #813535;
    font-size: 3em;
    margin: 0 .5rem;
    width: 1em;
}

/* ------------------- Presentation & Picture Profile --------------------------*/

.presentation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 1.25rem;
}
.image-profile-header
{
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 3px solid #661212;
    border-radius: 50%;
    margin: 2rem 2rem 2rem 2rem;
    width: 20em;
    max-width: 248px;
    filter: grayscale(80%);
}

/* ----------------------------- Project experiences ---------------------------------*/

.content-project h2
{
    font-size: 2rem;
}

.projects
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}
.job-card
{
    background-color: #661212;
    border: none;
    border-radius: 3px;
    color: #dad3d3;
    float: left;
    margin: 1%;
    padding: 1rem;
    text-align: left;
    width: 48%;   
}

.job-card-video
{
    position: relative;
    width: calc(100%);
    display: inline-flex;
    border-radius: 3px;
    overflow: hidden;
}
.projects video
{
    width: 100%;
    position: relative;
    z-index: 0;
}
.video-additional-info
{
    align-items: center;
    background-color: rgba(30, 30, 30, .8);
    display: flex;
    width: 100%;
    font-size: .6rem;
    padding: .2rem;
    position: absolute;
    text-align: left;
    bottom: 0;
    z-index: 1;
}

.video-additional-info div
{
    margin: 0 1em;
    display: flex;
    align-items: center;
}
.icon
{
    margin-right: .5em;
    height: 1.5em;
}
/*-----------------------Titre et description du jeu----------------------*/
.project-description
{
    margin: 0 2em;
}
.project-description small, p
{
    font-size: 1.5em;
}

.clickable-card-header
{
    align-items: center;
    color: var(--colorContact);
    display: flex;
    font-size: 3em;
    justify-content: space-between;
    margin: .1em 0px;

}
.svg-inline--fa
{
    height: 1.25em;
}

/* --------------------- Responsive Phone ------------------------*/

@media(max-width : 950px)
{
    .content-wrapper, .header, .main-title h1, .presentation, .content-project, .projects
    {        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header
    {
        position: relative;
    }
    .main-title h1 
    {              
        margin: 1rem 0 1rem 0;
    }
    .main-title small
    {
        flex-wrap: wrap;
        text-align: center;
    }
    .link
    {
        margin: 0 1rem 1rem 0;
    }
    .image-profile-header
    {
        width: 10rem;
        margin: .5rem;
    }  
    .presentation
    {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        text-align: center;
    }     
    .job-card
    {
        font-size: 1.125rem;
        width: calc(100%);
    }
    .job-card-video
    {
        position: relative;
        width: calc(100%);
        display: inline-flex;
        border-radius: 0 4px;
        overflow: hidden;
    }
    .video-additional-info
    {
        font-size: .7em;
    }
    .icon
    {
        margin-right: .5em;
        height: 1.5em;
    }
    .project-description small, p
    {
        font-size: 1em;
    }
    .clickable-card-header
    {
        font-size: 1.75em;   
    }
    
}